In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
# import contextily as cx

pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 100)

# SQL
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from configparser import ConfigParser
import config 

# filter warning
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore', category=FutureWarning)

In [21]:
dist_path = r'R:\Kaggle\Kaggle competitions\Pile driving predictions\raw_data\dist data\\'
training_path = r'R:\Kaggle\Kaggle competitions\Pile driving predictions\raw_data\training data\\'
validation_path = r'R:\Kaggle\Kaggle competitions\Pile driving predictions\raw_data\vadidation data\\'
cfg_path = r'R:\Kaggle\Kaggle competitions\Pile driving predictions\SQL_engine\\'

### Connect to SQL

In [10]:
parser = ConfigParser()
_ = parser.read(cfg_path+"db_connection.cfg")
engine = create_engine(parser.get("RainfallToRunoff", "conn_string"))
engine

Engine(postgresql://postgres:***@localhost:5432/Piles)

# File descriptions
1. <b>training_data.csv</b> - the training data set with PCPT data, hammer data, pile data and the observed blowcount vs depth (0.5m depth intervals) at 94 pile foundation locations
2. <b>training_data_cleaned.csv</b> - the training data set with rows with NaN values removed
3. <b>validation_data.csv</b> - the test set with PCPT data, hammer data and pile data vs depth (0.5m depth intervals) at 20 pile foundation locations, blowcounts need to be predicted for these piles
4. <b>validation_data_cleaned.csv</b> - the test data set with rows with NaN values removed
5. <b>sample_submission.csv</b> - A sample submission (for the linear model developed in the tutorial) with the required columns ID and Blowcount [Blows/m]
6. <b>full_cpt_training_data.csv.csv</b> - full PCPT data for the training data locations, this PCPT data has a higher depth resolution
7. <b>full_cpt_validation_data.csv.csv</b> - full PCPT data for the validation data locations, this PCPT data has a higher depth resolution
8. <b>interdistance_data.csv</b> - Information on the interdistance between pile locations. Each interdistance between each location pair is categorized into an interdistance category

# Data fields
1. ID - a unique ID combining the location name and the depth at which data is provided
2. z [m] - depth below mudline
3. qc [MPa] - Cone tip resistance
4. fs [MPa] - Sleeve friction
5. u2 [MPa] - Pore pressure behind the cone
6. Location ID - Anonymized location ID
7. Normalised ENTHRU [-] - Energy transmitted to the pile. Normalised to be between 0 and 1
8. Normalised hammer energy [-] - Energy provided by the hammer. Normalised to be between 0 and 1
9. Diameter [m] - Diameter of the pile at the selected depth
10. Bottom wall thickness [mm] - Wall thickness at the bottom of the pile
11. Pile penetration [m] - Final penetration of the pile below mudline
12. Blowcount [Blows/m] - Number of blows required for an additional meter of pile penetration. This describes the rate of pile penetration.
13. Number of blows - Total number of blows to reach the selected depth

interdistance data

In [11]:
dist_df = pd.read_csv(dist_path+'interdistance_data.csv', sep=',')
dist_df

      ID location 1 ID location 2 Interdistance class
0                BJ            BJ               <500m
1                BJ            EK       3000m - 4500m
2                BJ            DE       3000m - 4500m
3                BJ            CS              >4500m
4                BJ            CV              >4500m
...             ...           ...                 ...
13684            DD            AN              >4500m
13685            DD            BN              >4500m
13686            DD            EJ              >4500m
13687            DD            BC       3000m - 4500m
13688            DD            DD               <500m

[13689 rows x 3 columns]

In [13]:
exists = 'replace'
schema_name = 'raw_data'
table_name = 'interdistance_data'
dist_df.to_sql(table_name, index=False, if_exists=exists, schema=schema_name, con=engine)

training data

In [9]:
files_training = os.listdir(training_path)
print(len(files_training))
print(' ')
print(files_training)

7

['training_data_withnormalised.csv', 'training_data.csv', 'training_data_cleaned.csv', 'training_data_witharearatio.csv', 'full_cpt_training_data_withnormalised.csv', 'full_cpt_training_data.csv', 'full_cpt_training_data_witharearatio.csv']

In [18]:
exists = 'replace'
schema_name = 'raw_data'

for file in files_training:
    table_name = file.split(".")[0]
    print('Uploading:', table_name)
    df = pd.read_csv(training_path+file, sep=',')
#     print(df)
    df.to_sql(table_name, index=False, if_exists=exists, schema=schema_name, con=engine)

Uploading: training_data_withnormalised
Uploading: training_data
Uploading: training_data_cleaned
Uploading: training_data_witharearatio
Uploading: full_cpt_training_data_withnormalised
Uploading: full_cpt_training_data
Uploading: full_cpt_training_data_witharearatio

validation data

In [22]:
files_validation = os.listdir(validation_path)
print(len(files_validation))
print(' ')
print(files_validation)

7

['validation_data_withnormalised.csv', 'validation_data.csv', 'validation_data_cleaned.csv', 'validation_data_witharearatio.csv', 'full_cpt_validation_data_withnormalised.csv', 'full_cpt_validation_data.csv', 'full_cpt_validation_data_witharearatio.csv']

In [24]:
exists = 'replace'
schema_name = 'raw_data'

for file in files_validation:
    table_name = file.split(".")[0]
    print('Uploading:', table_name)
    df = pd.read_csv(validation_path+file, sep=',')
#     print(df)
    df.to_sql(table_name, index=False, if_exists=exists, schema=schema_name, con=engine)

Uploading: validation_data_withnormalised
Uploading: validation_data
Uploading: validation_data_cleaned
Uploading: validation_data_witharearatio
Uploading: full_cpt_validation_data_withnormalised
Uploading: full_cpt_validation_data
Uploading: full_cpt_validation_data_witharearatio

In [ ]:
192.168.0.1

In [ ]:
37.228.224.166